packaging
ninja
numpy
scipy
torch<=2.10.0
torchvision<=0.25.0
torchaudio<=2.10.0
torchao
diffusers
transformers
tokenizers
tqdm
accelerate==1.14.0
safetensors
opencv-python
imageio
imageio-ffmpeg
einops
loguru
omegaconf
peft==0.20.0
swanlab
langdetect>=1.0.9
sgl-kernel
qtorch
ftfy
gradio
aiohttp
pydantic
aio-pika
asyncpg>=0.27.0
aioboto3>=12.0.0
prometheus-client
gguf
fastapi
uvicorn
PyJWT
requests
alibabacloud_dypnsapi20170525==1.2.2
redis==6.4.0
tos
decord
zmq
jsonschema
pymongo
modelscope
